.auth__form, .form__have_account {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    margin-top: 20px;
    border: 1px solid lightgray;
}
.auth__form_logo {
    object-fit: contain;
    margin-top: 35px;
}
.auth__form__title {
    color: grey;
    padding: 0 52px;
    margin: 10px 0;
}
.auth__form__facebook_button {
    background-color: #0095f6;
    display: flex;
    align-items: center;
    max-width: 225px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    justify-content: center;
    margin: 20px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.auth__form__facebook_button svg {
    margin-right: 10px;
}
.auth__form__divider {
    display: flex;
    justify-content: space-between;
    color: grey;
    align-items: center;
    width: 225px;
    margin: 20px auto;
}
.auth__form__divider div {
    width: 93px;
    height: 2px;
    background-color: lightgrey;
}
input.auth__input {
    width: 225px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button.auth__submit_button {
    width: 225px;
    padding: 10px;
    border: none;
    background-color: #0095f6;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
span.auth_form_policy {
    font-size: 12px;
    width: 225px;
    display: block;
    margin: 0px auto;
    margin-bottom: 50px;
}
.form__have_account {
    padding: 25px 0;
    margin-bottom: 100px;
    font-size: 14px;
}
span.have_account_link {
    color: #0095f6;
    cursor: pointer;
}

/* sign in */
.auth__form__facebook_button_login {
    display: flex;
    align-items: center;
    width: 225px;
    margin: 20px auto;
    justify-content: center;
    color: #0095f6;
    cursor: pointer;
}